body {
	background: #002241; 
	overflow: hidden;
}
.contenido {
	background-color: white;
	display: inline-block;
	padding: 15px;
	position: absolute;
	z-index: 3;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
} 
.earth {
	position: absolute;
	bottom: -25px;
	right: -25px;
}
button#launcher {
    background: red;
    border: none;
    padding: 15px;
    font-size: 16px;
    color: yellow;
    font-weight: 700;
}
button#launcher:hover {
	cursor: pointer;
	background: yellow;
	color: red;
}
.earth{
  animation: earth-rotate linear 50s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: earth-rotate linear 50s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: earth-rotate linear 50s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: earth-rotate linear 50s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: earth-rotate linear 50s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes earth-rotate{
  0% {
    transform:  translate(0px,20px)  rotate(0deg) ;
  }
  100% {
    transform:  translate(0px,20px)  rotate(360deg) ;
  }

}

@-moz-keyframes earth-rotate{
  0% {
    -moz-transform:  translate(0px,20px)  rotate(0deg) ;
  }
  100% {
    -moz-transform:  translate(0px,20px)  rotate(360deg) ;
  }
  101% {
    -moz-transform:  translate(0px,20px)  rotate(364deg) ;
  }
}

@-webkit-keyframes earth-rotate {
  0% {
    -webkit-transform:  translate(0px,20px)  rotate(0deg) ;
  }
  100% {
    -webkit-transform:  translate(0px,20px)  rotate(360deg) ;
  }
  101% {
    -webkit-transform:  translate(0px,20px)  rotate(364deg) ;
  }
}

@-o-keyframes earth-rotate {
  0% {
    -o-transform:  translate(0px,20px)  rotate(0deg) ;
  }
  100% {
    -o-transform:  translate(0px,20px)  rotate(360deg) ;
  }
  101% {
    -o-transform:  translate(0px,20px)  rotate(364deg) ;
  }
}

@-ms-keyframes earth-rotate {
  0% {
    -ms-transform:  translate(0px,20px)  rotate(0deg) ;
  }
  100% {
    -ms-transform:  translate(0px,20px)  rotate(360deg) ;
  }
  101% {
    -ms-transform:  translate(0px,20px)  rotate(364deg) ;
  }
}

footer{
	position: absolute;
	bottom: 5px;
	left: 5px;
	color: white;
}
footer a {
	color: white;
	text-decoration: none;
}

.space {
	background-image: url(../img/bg-stars.png);
	height: 100vh;
	width: 100vw;
	position: absolute;
	animation-name:spacemove;
	-web-kit-animation-name:spacemove;
	animation-duration:30s;
	-web-kit-animation-duration:30s;
	animation-iteration-count:infinite;
	  -webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;


}

@keyframes spacemove {
	0% {
		background-position: 0px 0px;
	}
	100% {
		background-position: 741px 678px;
	}
}
@-webkit-keyframes space-move {
	0% {
		left: 0px;
	}
	100% {
		left: 100vw;
	}
}
.sun {
    position: absolute;
    top: 10%;
    left: 20%;
	animation-name:sunmove;
	-web-kit-animation-name:sunmove;
	animation-duration:5s;
	-web-kit-animation-duration:5s;
	animation-iteration-count:infinite;
	  -webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	transform: scale(0.95,0.95);
}
@keyframes sunmove {
	0% {
	  transform : scale(0.95,0.95);
	
	}
	50% {
		transform : scale(1,1);
		
	}
	100% {

	}
}
@-webkit-keyframes sunmove {
		0% {
		-webkit-transform : scale(0.95,0.95);
	}
	50% {
		-webkit-transform : scale(1,1);
	}
	100% {
	
	}
}



.meteor-small, .meteor-big {
	position: absolute;
	z-index: 2;
}
.meteor-small {
	-webkit-transform-origin:50% 50%;
	transform-origin:50% 50%;
	animation-name:meteorsmallmove;
	-web-kit-animation-name:meteorsmallmove;
	animation-duration:20s;
	-web-kit-animation-duration:20s;
	animation-iteration-count:infinite;
	  -webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	transform: rotate(0);
	-webkit-transform: rotate(0);
}
@keyframes meteorsmallmove {
	0% {
		left: 0;
		top: 0;
	}
	50% {
		left: 50%;
		top: 110%;
		transfor: rotate(360deg);
	}
		100% {
		top: -10%;
		left: 100%;
		transform: rotate(-360deg)
	}
}
@-webkit-keyframes meteorsmallmove {
	0% {
		left: 0;
		top: 0;
	}
	50% {
		left: 50%;
		top: 110%;
		-webkit-transform: rotate(360deg);
	}
	100% {
		top: -10%;
		left: 100%;
		-webkit-transform: rotate(-360deg);
	}
}

.meteor-big {
	-webkit-transform-origin:50% 50%;
	transform-origin:50% 50%;
	animation-name:meteorbigmove;
	-web-kit-animation-name:meteorbigmove;
	animation-duration:35s;
	-web-kit-animation-duration:35s;
	animation-iteration-count:infinite;
	  -webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	transform: rotate(0);
	-webkit-transform: rotate(0);
}

@keyframes meteorbigmove {
	0% {
		right: -10%;
		top: 30%;
	}
	50% {
		right: 110%;
		top: 110%;
	}
	100% {
		right:80%;
		top:-10%;
		transform : rotate(360deg);
	}
}
@-webkit-keyframes meteorbigmove {
	0% {
		right: 0px;
		top: 30%;
			}
	50% {
		right: 110%;
		top: 110%;
	}
	100% {
		right:80%;
		top:-10%;

	}
}

.rocket {
	position: absolute;
	animation-name:rocketmove;
	-web-kit-animation-name:rocketmove;
	animation-duration:5s;
	-web-kit-animation-duration:5s;
		transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	transform: scale(0);
	-webkit-transform: scale(0);
	z-index: 2;
		left: 100%;
		bottom: 0;

}
@keyframes rocketmove {
	0% {
		left: 100%;
		bottom: -5%;
	}
	50% {
		transform: scale(1);
	}
	100% {
		left: -10%;
		bottom: 100%;
	}
}